#### Importing The All Important Libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Reading The CSV File

In [ ]:
data = pd.read_csv('mobile- Mobile.csv')

In [ ]:
data.head()

,Name,Address 1,Adress 2,Adress 3,City,pincode,state
0,HARMESH RANI GABA,316 JAGRATI ENCLAVE,0,0,NEWDELHI,110092.0,DELHI
1,B KRISHNA BAI,204 CHITRAPUR HSG SOCIETY,15TH CROSS RD MALLESWARAM,BANGALORE,BANGALORE,560055.0,KARNATAKA
2,GANGA SHREEDHAR,6 NUNGAMBAKKAM HIGH RD,MADRAS,0,CHENNAI,600034.0,TAMIL NADU
3,JOHN PINTO,NaN,NaN,NaN,NaN,NaN,NaN
4,ROBIN GHOSH,C-O MR JOY DEEP KAR ADVOCATE,7 OLD POST OFFICE STREET,0,KOLKATTA,700001.0,WEST BENGAL

#### Calculating The Sum Of All Null Values In Every Column

In [ ]:
data.isnull().sum()

Name         0
Address 1    1
Adress 2     1
Adress 3     1
City         1
pincode      1
state        1
dtype: int64

#### Dropping The Nan Values

In [ ]:
data.dropna(axis=0, how='any', inplace=True)

In [ ]:
data.shape

(370, 7)

#### It Shows The All The Duplicates

In [ ]:
data.duplicated().sum()

3

#### This Will Drop The Duplicate Rows

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data.shape

(367, 7)

#### Getting The Top 10 Rows

In [ ]:
data.head(10)

,Name,Address 1,Adress 2,Adress 3,City,pincode,state
0,HARMESH RANI GABA,316 JAGRATI ENCLAVE,0,0,NEWDELHI,110092.0,DELHI
1,B KRISHNA BAI,204 CHITRAPUR HSG SOCIETY,15TH CROSS RD MALLESWARAM,BANGALORE,BANGALORE,560055.0,KARNATAKA
2,GANGA SHREEDHAR,6 NUNGAMBAKKAM HIGH RD,MADRAS,0,CHENNAI,600034.0,TAMIL NADU
4,ROBIN GHOSH,C-O MR JOY DEEP KAR ADVOCATE,7 OLD POST OFFICE STREET,0,KOLKATTA,700001.0,WEST BENGAL
5,SARASWATEWWA H ATHANI,23-2 SIMPI GALLI,KARNATAKA,0,HUBLI,580020.0,KARNATAKA
6,AJIT RAMAKANT KULKARNI,SAHAKAR NGR NO 2 BLDG NO A-16,BLOCK NO 591 NEAR SHELL,COLONY CHEMBUR BOMBAY,MUMBAI,400071.0,MAHARASHTRA
7,SHAILENDRA SHANKAR KALE,G-1-1 KALPITA ENCLAVE,S N MARG,ANDHERI E BOMBAY,MUMBAI,400069.0,MAHARASHTRA
8,SHIBANI MAITRA,6D-202 DAMODAR PARK,GHATKOPAR WEST,BOMBAY,MUMBAI,400086.0,MAHARASHTRA
9,VYAS ABHISHEK ATULBHAI,SAMARPAN,MATURINAGAR,AERODROME ROAD,RAJKOT,360009.0,GUJARAT
10,RAMANLAL NATHUBHAI PATEL,AT POST AMBHETI VIA PUNI,TAL PALASANA,DIST,SURAT,494350.0,GUJARAT

#### Exporting The Data Into Excel Format

In [ ]:
data.to_excel('Mobile.xlsx')