Fake Buyer Identification, Find the order id satisfying following conditions:
1.The shipping address differs from the billing address.
2.Unusually large orders.(cut off Rs 50000)
3.Multiple orders to the same address with different payment method.
4.Unexpected international orders.
Present all the subtasks in the form of charts

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('orders_2020_2021_DataSet_Updated.csv')
data.head()

,Order #,Fulfillment Date and Time Stamp,Currency,Subtotal,Shipping Method,Shipping Cost,Tax Method,Taxes,Total,Coupon Code,...,Tracking #,Special Instructions,LineItem Name,LineItem SKU,LineItem Options,LineItem Add-ons,LineItem Qty,LineItem Sale Price,Download Status,LineItem Type
0,R121113121,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
1,R472890631,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
2,R004476488,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
3,R526038353,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
4,R658530771,NaN,INR,349,Ships Free,0,NaN,0.0,349,NaN,...,NaN,NaN,Barbie Doll (pink),PL00098,NaN,NaN,1,349,NaN,physical

In [3]:
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

In [4]:
data.shape

(3039, 38)

In [5]:
fake_idnt_1 = data[['Billing Street Address', 'Billing Street Address 2', 'Shipping Street Address',
       'Shipping Street Address 2']]
fake_idnt_1.head(3)

,Billing Street Address,Billing Street Address 2,Shipping Street Address,Shipping Street Address 2
0,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2
1,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2
2,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2

In [6]:
fake_idnt_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Billing Street Address     375 non-null    object
 1   Billing Street Address 2   228 non-null    object
 2   Shipping Street Address    3020 non-null   object
 3   Shipping Street Address 2  2057 non-null   object
dtypes: object(4)
memory usage: 95.1+ KB

In [7]:
fake_idnt_1.isnull().sum()

Billing Street Address       2664
Billing Street Address 2     2811
Shipping Street Address        19
Shipping Street Address 2     982
dtype: int64

In [8]:
fake_idnt_1.shape

(3039, 4)

In [9]:
fake_idnt_1.rename(columns={'Billing Street Address':'Billing Street Address 1',
        'Shipping Street Address':'Shipping Street Address 1'}, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_2764\915846081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.rename(columns={'Billing Street Address':'Billing Street Address 1',