##### Fake Buyer Identification, Find the order id satisfying following conditions:
##### 1.The shipping address differs from the billing address.
##### 2.Unusually large orders.(cut off Rs 50000)
##### 3.Multiple orders to the same address with different payment method.
##### 4.Unexpected international orders.
##### Present all the subtasks in the form of charts

#### Importing all libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#### Reading the csv file and Looking at top 5 Rows

In [2]:
data = pd.read_csv('orders_2020_2021_DataSet_Updated.csv')
data.head(2)

,Order #,Fulfillment Date and Time Stamp,Currency,Subtotal,Shipping Method,Shipping Cost,Tax Method,Taxes,Total,Coupon Code,...,Tracking #,Special Instructions,LineItem Name,LineItem SKU,LineItem Options,LineItem Add-ons,LineItem Qty,LineItem Sale Price,Download Status,LineItem Type
0,R121113121,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
1,R472890631,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical

#### Looking at all Columns

In [3]:
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

#### Printing the Number of Rows and Columns of Dataframe

In [4]:
data.shape

(3039, 38)

#### Assigning a new variable/dataframe of important columns from data dataframe

In [5]:
fake_idnt_1 = data[['Order #', 'Billing Street Address', 'Billing Street Address 2', 'Shipping Street Address',
       'Shipping Street Address 2']]
fake_idnt_1.head(3)

,Order #,Billing Street Address,Billing Street Address 2,Shipping Street Address,Shipping Street Address 2
0,R121113121,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2
1,R472890631,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2
2,R004476488,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2

#### This function Shows some Information about the dataframe

In [6]:
fake_idnt_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3039 entries, 0 to 3038
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Order #                    3039 non-null   object
 1   Billing Street Address     375 non-null    object
 2   Billing Street Address 2   228 non-null    object
 3   Shipping Street Address    3020 non-null   object
 4   Shipping Street Address 2  2057 non-null   object
dtypes: object(5)
memory usage: 118.8+ KB

#### Checking the Number of null values in Columns

In [7]:
fake_idnt_1.isnull().sum()

Order #                         0
Billing Street Address       2664
Billing Street Address 2     2811
Shipping Street Address        19
Shipping Street Address 2     982
dtype: int64

In [8]:
fake_idnt_1.shape

(3039, 5)

#### Renaming some Columns

In [9]:
fake_idnt_1.rename(columns={'Order #':'Order No', 'Billing Street Address':'Billing Street Address 1',
        'Shipping Street Address':'Shipping Street Address 1'}, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\2899242308.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.rename(columns={'Order #':'Order No', 'Billing Street Address':'Billing Street Address 1',

In [10]:
fake_idnt_1.columns

Index(['Order No', 'Billing Street Address 1', 'Billing Street Address 2',
       'Shipping Street Address 1', 'Shipping Street Address 2'],
      dtype='object')

In [11]:
fake_idnt_1.head()

,Order No,Billing Street Address 1,Billing Street Address 2,Shipping Street Address 1,Shipping Street Address 2
0,R121113121,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2
1,R472890631,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2
2,R004476488,NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2
3,R526038353,NaN,NaN,"Chandrapur, ghugus, indra Nagar, Rajiv colony,",Bachler guest House 2
4,R658530771,NaN,NaN,"D-6 SIR SYED APT,FLAT NO 401,THOKAR NO 7,NEAR FIRDAUS MASJID,SHAHEEN BAGH,NEW DELHI 110025",D-6 SIR SYED APT

#### Keeping the Rows with at least 1 non-na in Some Columns

In [12]:
fake_idnt_1.dropna(subset=['Billing Street Address 1', 'Billing Street Address 2'], thresh=1, inplace=True)
fake_idnt_1.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\3017623196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.dropna(subset=['Billing Street Address 1', 'Billing Street Address 2'], thresh=1, inplace=True)

(375, 5)

In [13]:
fake_idnt_1.dropna(subset=['Shipping Street Address 1', 'Shipping Street Address 2'], thresh=1, inplace=True)
fake_idnt_1.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\1900289337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.dropna(subset=['Shipping Street Address 1', 'Shipping Street Address 2'], thresh=1, inplace=True)

(375, 5)

In [14]:
fake_idnt_1

,Order No,Billing Street Address 1,Billing Street Address 2,Shipping Street Address 1,Shipping Street Address 2
0,R121113121,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2
6,R711371655,Wehntalerstrasse 527,NaN,Wehntalerstrasse 527,NaN
10,R728042506,vinoba nagar gali no 1,betul,vinoba nagar gali no 1,betul
26,R113535804,Gaondevi mandir,401 shiv palace,Gaondevi mandir,401 shiv palace
43,R046814280,Amsterdamsestraatweg 455A,NaN,Amsterdamsestraatweg 455A,NaN
...,...,...,...,...,...
3034,R243395005,Gcc,Ggggh,Gcc,Ggggh
3035,R607209508,"Mayuree bihar,1st lane,near somnathnagar","Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga","Mayuree bihar,1st lane,near somnathnagar","Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga"
3036,R140316623,mayuree vihar 1st lane,NaN,mayuree vihar 1st lane,NaN
3037,R192037084,test,gast,test,gast
3038,R414254148,test,gast,test,gast

In [15]:
fake_idnt_1.isnull().sum()

Order No                       0
Billing Street Address 1       0
Billing Street Address 2     147
Shipping Street Address 1      0
Shipping Street Address 2    146
dtype: int64

#### Filling NaN Values with Empty Element

In [16]:
fake_idnt_1.fillna('', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\372864636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.fillna('', inplace=True)

In [17]:
fake_idnt_1.isnull().sum()

Order No                     0
Billing Street Address 1     0
Billing Street Address 2     0
Shipping Street Address 1    0
Shipping Street Address 2    0
dtype: int64

#### Concatinating the Two Columns into a Column

In [18]:
fake_idnt_1['Billing_Street_Address_1_2'] = fake_idnt_1['Billing Street Address 1'] +"/ "+ fake_idnt_1['Billing Street Address 2']
fake_idnt_1['Shipping_Street_Address_1_2'] = fake_idnt_1['Shipping Street Address 1'] +"/ "+ fake_idnt_1['Shipping Street Address 2']
fake_idnt_1.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\4085331019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1['Billing_Street_Address_1_2'] = fake_idnt_1['Billing Street Address 1'] +"/ "+ fake_idnt_1['Billing Street Address 2']
C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\4085331019.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1['Shipping_Street_Address_1_2'] = fake_idnt_1['Shipping Street Address 1'] +"/ "+ fake_idnt_1['Shipping Street Address 2']

,Order No,Billing Street Address 1,Billing Street Address 2,Shipping Street Address 1,Shipping Street Address 2,Billing_Street_Address_1_2,Shipping_Street_Address_1_2
0,R121113121,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2
6,R711371655,Wehntalerstrasse 527,,Wehntalerstrasse 527,,Wehntalerstrasse 527/,Wehntalerstrasse 527/
10,R728042506,vinoba nagar gali no 1,betul,vinoba nagar gali no 1,betul,vinoba nagar gali no 1/ betul,vinoba nagar gali no 1/ betul
26,R113535804,Gaondevi mandir,401 shiv palace,Gaondevi mandir,401 shiv palace,Gaondevi mandir/ 401 shiv palace,Gaondevi mandir/ 401 shiv palace
43,R046814280,Amsterdamsestraatweg 455A,,Amsterdamsestraatweg 455A,,Amsterdamsestraatweg 455A/,Amsterdamsestraatweg 455A/

#### Dropping the Unimportant Columns

In [19]:
fake_idnt_1.drop(columns=['Billing Street Address 1','Billing Street Address 2',
        'Shipping Street Address 1','Shipping Street Address 2'], inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\4277988064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1.drop(columns=['Billing Street Address 1','Billing Street Address 2',

In [20]:
fake_idnt_1.columns

Index(['Order No', 'Billing_Street_Address_1_2',
       'Shipping_Street_Address_1_2'],
      dtype='object')

#### Checking Which Row Two Columns is Unequal with Boolean

In [21]:
fake_idnt_1['Billing and Shipping Unequal'] = fake_idnt_1['Billing_Street_Address_1_2'] != fake_idnt_1['Shipping_Street_Address_1_2']
fake_idnt_1.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_17252\2937663663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_1['Billing and Shipping Unequal'] = fake_idnt_1['Billing_Street_Address_1_2'] != fake_idnt_1['Shipping_Street_Address_1_2']

,Order No,Billing_Street_Address_1_2,Shipping_Street_Address_1_2,Billing and Shipping Unequal
0,R121113121,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2,False
6,R711371655,Wehntalerstrasse 527/,Wehntalerstrasse 527/,False
10,R728042506,vinoba nagar gali no 1/ betul,vinoba nagar gali no 1/ betul,False
26,R113535804,Gaondevi mandir/ 401 shiv palace,Gaondevi mandir/ 401 shiv palace,False
43,R046814280,Amsterdamsestraatweg 455A/,Amsterdamsestraatweg 455A/,False

In [22]:
fake_idnt_1

,Order No,Billing_Street_Address_1_2,Shipping_Street_Address_1_2,Billing and Shipping Unequal
0,R121113121,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus/ Rajiv colony Gopal Nagar Bachelor guest House 2,False
6,R711371655,Wehntalerstrasse 527/,Wehntalerstrasse 527/,False
10,R728042506,vinoba nagar gali no 1/ betul,vinoba nagar gali no 1/ betul,False
26,R113535804,Gaondevi mandir/ 401 shiv palace,Gaondevi mandir/ 401 shiv palace,False
43,R046814280,Amsterdamsestraatweg 455A/,Amsterdamsestraatweg 455A/,False
...,...,...,...,...
3034,R243395005,Gcc/ Ggggh,Gcc/ Ggggh,False
3035,R607209508,"Mayuree bihar,1st lane,near somnathnagar/ Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga","Mayuree bihar,1st lane,near somnathnagar/ Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga",False
3036,R140316623,mayuree vihar 1st lane/,mayuree vihar 1st lane/,False
3037,R192037084,test/ gast,test/ gast,False
3038,R414254148,test/ gast,test/ gast,False

In [23]:
fake_idnt_1.to_csv('Billing_Shipping_Differ_Address.csv')