##### Sub-Task
##### Multiple Orders to the same Address with different Payment Methods

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data=pd.read_csv('orders_2020_2021_DataSet_Updated.csv')
data.head(2)

,Order #,Fulfillment Date and Time Stamp,Currency,Subtotal,Shipping Method,Shipping Cost,Tax Method,Taxes,Total,Coupon Code,...,Tracking #,Special Instructions,LineItem Name,LineItem SKU,LineItem Options,LineItem Add-ons,LineItem Qty,LineItem Sale Price,Download Status,LineItem Type
0,R121113121,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
1,R472890631,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical

In [3]:
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

In [4]:
fake_idnt_3 = data[['Order #', 'LineItem Name', 'Billing Street Address', 'Billing Street Address 2', 'Shipping Street Address',
       'Shipping Street Address 2', 'Payment Method']]
fake_idnt_3.head(2)

,Order #,LineItem Name,Billing Street Address,Billing Street Address 2,Shipping Street Address,Shipping Street Address 2,Payment Method
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,NaN
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",NaN,NaN,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2,NaN

In [5]:
fake_idnt_3.rename(columns={'Order #':'Order No', 'LineItem Name':'Product Name', 'Billing Street Address':
        'Billing Street Address 1', 'Shipping Street Address':'Shipping Street Address 1'}, inplace=True)
fake_idnt_3.columns

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\2675976536.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3.rename(columns={'Order #':'Order No', 'LineItem Name':'Product Name', 'Billing Street Address':

Index(['Order No', 'Product Name', 'Billing Street Address 1',
       'Billing Street Address 2', 'Shipping Street Address 1',
       'Shipping Street Address 2', 'Payment Method'],
      dtype='object')

In [6]:
fake_idnt_3.isnull().sum()

Order No                        0
Product Name                    0
Billing Street Address 1     2664
Billing Street Address 2     2811
Shipping Street Address 1      19
Shipping Street Address 2     982
Payment Method               2780
dtype: int64

In [7]:
fake_idnt_3['Payment Method'].fillna('Not Available', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\1543946677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3['Payment Method'].fillna('Not Available', inplace=True)

In [8]:
fake_idnt_3.isnull().sum()

Order No                        0
Product Name                    0
Billing Street Address 1     2664
Billing Street Address 2     2811
Shipping Street Address 1      19
Shipping Street Address 2     982
Payment Method                  0
dtype: int64

In [9]:
fake_idnt_3.fillna('', inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\1391357966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3.fillna('', inplace=True)

In [10]:
fake_idnt_3['Billing Street Address 1_2'] = fake_idnt_3['Billing Street Address 1'] + " / " + fake_idnt_3['Billing Street Address 2']
fake_idnt_3['Shipping Street Address 1_2'] = fake_idnt_3['Shipping Street Address 1'] + " / "+ fake_idnt_3['Shipping Street Address 2']
fake_idnt_3.head(2)

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\614717276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3['Billing Street Address 1_2'] = fake_idnt_3['Billing Street Address 1'] + " / " + fake_idnt_3['Billing Street Address 2']
C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\614717276.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3['Shipping Street Address 1_2'] = fake_idnt_3['Shipping Street Address 1'] + " / "+ fake_idnt_3['Shipping Street Address 2']

,Order No,Product Name,Billing Street Address 1,Billing Street Address 2,Shipping Street Address 1,Shipping Street Address 2,Payment Method,Billing Street Address 1_2,Shipping Street Address 1_2
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar Bachelor guest House 2,Not Available,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",,,Maharashtra chandrapur ghugus,Rajiv colony Gopal Nagar guest House 2,Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2

In [11]:
fake_idnt_3.drop(columns=['Billing Street Address 1','Billing Street Address 2',
        'Shipping Street Address 1','Shipping Street Address 2'], inplace=True)
fake_idnt_3.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\3265263964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3.drop(columns=['Billing Street Address 1','Billing Street Address 2',

,Order No,Product Name,Payment Method,Billing Street Address 1_2,Shipping Street Address 1_2
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2
2,R004476488,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2
3,R526038353,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,"Chandrapur, ghugus, indra Nagar, Rajiv colony, / Bachler guest House 2"
4,R658530771,Barbie Doll (pink),Not Available,/,"D-6 SIR SYED APT,FLAT NO 401,THOKAR NO 7,NEAR FIRDAUS MASJID,SHAHEEN BAGH,NEW DELHI 110025 / D-6 SIR SYED APT"

In [12]:
fake_idnt_3

,Order No,Product Name,Payment Method,Billing Street Address 1_2,Shipping Street Address 1_2
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2
2,R004476488,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2
3,R526038353,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,"Chandrapur, ghugus, indra Nagar, Rajiv colony, / Bachler guest House 2"
4,R658530771,Barbie Doll (pink),Not Available,/,"D-6 SIR SYED APT,FLAT NO 401,THOKAR NO 7,NEAR FIRDAUS MASJID,SHAHEEN BAGH,NEW DELHI 110025 / D-6 SIR SYED APT"
...,...,...,...,...,...
3034,R243395005,Ear Wired Earphones With Mic White,Not Available,Gcc / Ggggh,Gcc / Ggggh
3035,R607209508,I Kall K-66 White,Not Available,"Mayuree bihar,1st lane,near somnathnagar / Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga","Mayuree bihar,1st lane,near somnathnagar / Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga"
3036,R140316623,Electric Steam Cooker Maestro MC1,Not Available,mayuree vihar 1st lane /,mayuree vihar 1st lane /
3037,R192037084,Electric Steam Cooker Maestro MC1,Not Available,test / gast,test / gast
3038,R414254148,Electric Steam Cooker Maestro MC1,"Offline Payment ₹2,000.00",test / gast,test / gast

In [13]:
fake_idnt_3['Duplicate Address']=fake_idnt_3.duplicated(subset=['Billing Street Address 1_2','Shipping Street Address 1_2'])
fake_idnt_3.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\695979854.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3['Duplicate Address']=fake_idnt_3.duplicated(subset=['Billing Street Address 1_2','Shipping Street Address 1_2'])

,Order No,Product Name,Payment Method,Billing Street Address 1_2,Shipping Street Address 1_2,Duplicate Address
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,False
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2,False
2,R004476488,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2,True
3,R526038353,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,"Chandrapur, ghugus, indra Nagar, Rajiv colony, / Bachler guest House 2",False
4,R658530771,Barbie Doll (pink),Not Available,/,"D-6 SIR SYED APT,FLAT NO 401,THOKAR NO 7,NEAR FIRDAUS MASJID,SHAHEEN BAGH,NEW DELHI 110025 / D-6 SIR SYED APT",False

In [27]:
fake_idnt_3.shape

(3039, 6)

In [25]:
fake_idnt_3['Order No'].duplicated().sum()

68

In [28]:
fake_idnt_3.drop_duplicates(subset=['Order No'], keep='last', inplace=True)
fake_idnt_3.shape

C:\Users\Admin\AppData\Local\Temp\ipykernel_19124\407052637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_idnt_3.drop_duplicates(subset=['Order No'], keep='last', inplace=True)

(2971, 6)

In [29]:
fake_idnt_3.to_excel('Duplicate_address.xlsx')

In [30]:
fake_idnt_3

,Order No,Product Name,Payment Method,Billing Street Address 1_2,Shipping Street Address 1_2,Duplicate Address
0,R121113121,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar Bachelor guest House 2,False
1,R472890631,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2,False
2,R004476488,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,Maharashtra chandrapur ghugus / Rajiv colony Gopal Nagar guest House 2,True
3,R526038353,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",Not Available,/,"Chandrapur, ghugus, indra Nagar, Rajiv colony, / Bachler guest House 2",False
4,R658530771,Barbie Doll (pink),Not Available,/,"D-6 SIR SYED APT,FLAT NO 401,THOKAR NO 7,NEAR FIRDAUS MASJID,SHAHEEN BAGH,NEW DELHI 110025 / D-6 SIR SYED APT",False
...,...,...,...,...,...,...
3034,R243395005,Ear Wired Earphones With Mic White,Not Available,Gcc / Ggggh,Gcc / Ggggh,False
3035,R607209508,I Kall K-66 White,Not Available,"Mayuree bihar,1st lane,near somnathnagar / Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga","Mayuree bihar,1st lane,near somnathnagar / Mayuree Bihar 1st line,near mayurapartment,po/st-Sriram Naga",False
3036,R140316623,Electric Steam Cooker Maestro MC1,Not Available,mayuree vihar 1st lane /,mayuree vihar 1st lane /,False
3037,R192037084,Electric Steam Cooker Maestro MC1,Not Available,test / gast,test / gast,True
3038,R414254148,Electric Steam Cooker Maestro MC1,"Offline Payment ₹2,000.00",test / gast,test / gast,True