##### Sub-Task
##### Unexpected International Orders

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv('orders_2020_2021_DataSet_Updated.csv')
data.head(4)

,Order #,Fulfillment Date and Time Stamp,Currency,Subtotal,Shipping Method,Shipping Cost,Tax Method,Taxes,Total,Coupon Code,...,Tracking #,Special Instructions,LineItem Name,LineItem SKU,LineItem Options,LineItem Add-ons,LineItem Qty,LineItem Sale Price,Download Status,LineItem Type
0,R121113121,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
1,R472890631,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
2,R004476488,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
3,R526038353,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical

In [3]:
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

In [4]:
data.shape

(3039, 38)

In [5]:
other_country=data[data['Shipping Country'] != 'IND']
other_country.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

In [6]:
other_country = other_country[['Order #', 'LineItem Name', 'LineItem Qty', 'Total', 'Payment Method',
        'Billing Country','Billing Street Address', 'Billing Street Address 2',
        'Shipping Country', 'Shipping Street Address', 'Shipping Street Address 2']]
other_country.columns

Index(['Order #', 'LineItem Name', 'LineItem Qty', 'Total', 'Payment Method',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2'],
      dtype='object')

In [7]:
other_country.shape

(40, 11)

In [8]:
other_country.head()

,Order #,LineItem Name,LineItem Qty,Total,Payment Method,Billing Country,Billing Street Address,Billing Street Address 2,Shipping Country,Shipping Street Address,Shipping Street Address 2
6,R711371655,Reliance Jio Phone 2,1,3199,NaN,CHE,Wehntalerstrasse 527,NaN,CHE,Wehntalerstrasse 527,NaN
39,R159642587,Nova NHC-3791 Electric Hair Trimmer (Black),1,399,NaN,NaN,NaN,NaN,ZAF,Plot 70 Rietfontein,NaN
43,R046814280,Reliance Jio Phone,1,1899,NaN,NLD,Amsterdamsestraatweg 455A,NaN,NLD,Amsterdamsestraatweg 455A,NaN
143,R537836718,Men Formal Shoes Black Color With Free Sunglasses,1,499,NaN,NaN,NaN,NaN,COL,Carrera 16#49a 14,Casa
145,R645155068,Reliance Jio Phone,1,1899,NaN,FRA,125 place thermidor,CCAS MONTPELLIER,FRA,125 place thermidor,CCAS MONTPELLIER

In [10]:
other_country[['Billing Street Address', 'Billing Street Address 2']]=other_country[['Billing Street Address', 'Billing Street Address 2']].fillna(value='-')
other_country.head()

,Order #,LineItem Name,LineItem Qty,Total,Payment Method,Billing Country,Billing Street Address,Billing Street Address 2,Shipping Country,Shipping Street Address,Shipping Street Address 2
6,R711371655,Reliance Jio Phone 2,1,3199,NaN,CHE,Wehntalerstrasse 527,-,CHE,Wehntalerstrasse 527,NaN
39,R159642587,Nova NHC-3791 Electric Hair Trimmer (Black),1,399,NaN,NaN,-,-,ZAF,Plot 70 Rietfontein,NaN
43,R046814280,Reliance Jio Phone,1,1899,NaN,NLD,Amsterdamsestraatweg 455A,-,NLD,Amsterdamsestraatweg 455A,NaN
143,R537836718,Men Formal Shoes Black Color With Free Sunglasses,1,499,NaN,NaN,-,-,COL,Carrera 16#49a 14,Casa
145,R645155068,Reliance Jio Phone,1,1899,NaN,FRA,125 place thermidor,CCAS MONTPELLIER,FRA,125 place thermidor,CCAS MONTPELLIER

In [11]:
other_country[['Shipping Street Address', 'Shipping Street Address 2']]=other_country[['Shipping Street Address', 'Shipping Street Address 2']].fillna(value='-')

In [14]:
other_country['Billing Street Address 1_2'] = other_country['Billing Street Address'] + other_country['Billing Street Address 2']
other_country['Shipping Street Address 1_2'] = other_country['Shipping Street Address']+other_country['Shipping Street Address 2']
other_country.columns

Index(['Order #', 'LineItem Name', 'LineItem Qty', 'Total', 'Payment Method',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Billing Street Address 1_2',
       'Shipping Street Address 1_2'],
      dtype='object')

In [16]:
other_country['Billing Shipping Equal Address']= other_country['Billing Street Address 1_2']==other_country['Shipping Street Address 1_2']

In [17]:
other_country.head()

,Order #,LineItem Name,LineItem Qty,Total,Payment Method,Billing Country,Billing Street Address,Billing Street Address 2,Shipping Country,Shipping Street Address,Shipping Street Address 2,Billing Street Address 1_2,Shipping Street Address 1_2,Billing Shipping Equal Address
6,R711371655,Reliance Jio Phone 2,1,3199,NaN,CHE,Wehntalerstrasse 527,-,CHE,Wehntalerstrasse 527,-,Wehntalerstrasse 527-,Wehntalerstrasse 527-,True
39,R159642587,Nova NHC-3791 Electric Hair Trimmer (Black),1,399,NaN,NaN,-,-,ZAF,Plot 70 Rietfontein,-,--,Plot 70 Rietfontein-,False
43,R046814280,Reliance Jio Phone,1,1899,NaN,NLD,Amsterdamsestraatweg 455A,-,NLD,Amsterdamsestraatweg 455A,-,Amsterdamsestraatweg 455A-,Amsterdamsestraatweg 455A-,True
143,R537836718,Men Formal Shoes Black Color With Free Sunglasses,1,499,NaN,NaN,-,-,COL,Carrera 16#49a 14,Casa,--,Carrera 16#49a 14Casa,False
145,R645155068,Reliance Jio Phone,1,1899,NaN,FRA,125 place thermidor,CCAS MONTPELLIER,FRA,125 place thermidor,CCAS MONTPELLIER,125 place thermidorCCAS MONTPELLIER,125 place thermidorCCAS MONTPELLIER,True

In [18]:
other_country['Shipping Country'].unique()

array(['CHE', 'ZAF', 'NLD', 'COL', 'FRA', 'HUN', 'PAK', 'NGA', 'GBR',
       'PRI', 'USA', 'ARE', 'SGP', 'CZE', 'SHN', 'GRD', 'CAN', 'MYS',
       'AFG', 'GNB'], dtype=object)

In [19]:
other_country.to_csv('other_country.csv')