In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('orders_2020_2021_Dataset_Updated.csv')

In [3]:
data.head()

,Order #,Fulfillment Date and Time Stamp,Currency,Subtotal,Shipping Method,Shipping Cost,Tax Method,Taxes,Total,Coupon Code,...,Tracking #,Special Instructions,LineItem Name,LineItem SKU,LineItem Options,LineItem Add-ons,LineItem Qty,LineItem Sale Price,Download Status,LineItem Type
0,R121113121,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
1,R472890631,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
2,R004476488,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
3,R526038353,NaN,INR,2299,Ships Free,0,NaN,0.0,2299,NaN,...,NaN,NaN,"Falcon Drone Four Axis Aircraft with 2.4 GHz RC, Blade Guard, Headless Mode LED Without Camera",PL0093416,NaN,NaN,1,2299,NaN,physical
4,R658530771,NaN,INR,349,Ships Free,0,NaN,0.0,349,NaN,...,NaN,NaN,Barbie Doll (pink),PL00098,NaN,NaN,1,349,NaN,physical

In [4]:
data.shape

(3039, 38)

In [5]:
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Tax Method', 'Taxes', 'Total',
       'Coupon Code', 'Coupon Code Name', ' ', 'Billing Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Shipping Zip', 'Gift Cards', 'Payment Method', 'Tracking #',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type'],
      dtype='object')

In [6]:
data = data.drop(['LineItem Options', 'LineItem Add-ons', 'LineItem Qty',
       'LineItem Sale Price', 'Download Status', 'LineItem Type', 'Tax Method', 'Taxes',
       ' ', 'Billing Name', 'Shipping Zip', 'Gift Cards', 'Coupon Code',
       'Coupon Code Name',
       'Billing Country', 'Billing Street Address', 'Billing Street Address 2',
       'Billing City', 'Billing State', 'Billing Zip'], axis=1)
data.columns

Index(['Order #', 'Fulfillment Date and Time Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Total', 'Shipping Name',
       'Shipping Country', 'Shipping Street Address',
       'Shipping Street Address 2', 'Shipping City', 'Shipping State',
       'Payment Method', 'Tracking #', 'Special Instructions', 'LineItem Name',
       'LineItem SKU'],
      dtype='object')

In [7]:
data=data.rename(columns={'Order #':'Order No.', 'Fulfillment Date and Time Stamp':'DateTime Stamp',
        'Shipping Name':'Customer Name', 'Shipping Street Address': 'Street Address 1',
        'Shipping Street Address 2':'Street Address 2', 'Tracking #':'Tracking No.'})
data.columns

Index(['Order No.', 'DateTime Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Total', 'Customer Name',
       'Shipping Country', 'Street Address 1', 'Street Address 2',
       'Shipping City', 'Shipping State', 'Payment Method', 'Tracking No.',
       'Special Instructions', 'LineItem Name', 'LineItem SKU'],
      dtype='object')

In [8]:
data=data.drop_duplicates()

In [9]:
data.duplicated(subset=['DateTime Stamp', 'Customer Name', 'Street Address 2', 'LineItem Name', 'Payment Method','LineItem SKU']).sum()

177

In [10]:
data=data.drop_duplicates(subset=['DateTime Stamp', 'Customer Name', 'Street Address 2', 'LineItem Name', 'Payment Method','LineItem SKU'])
data.duplicated(subset=['DateTime Stamp', 'Customer Name', 'Street Address 2', 'LineItem Name', 'Payment Method','LineItem SKU']).sum()

0

In [11]:
data['Payment Method'].unique()

array([nan, 'CCAvenue ₹999.00', 'CCAvenue ₹219.00', 'CCAvenue ₹1,499.00',
       'CCAvenue ₹349.00', 'CCAvenue ₹799.00', 'CCAvenue ₹150.00',
       'CCAvenue ₹269.00', 'CCAvenue ₹399.00',
       'Offline Payment ₹8,999.00', 'Offline Payment ₹799.00',
       'Offline Payment ₹8,999.00;Offline Payment -₹8,999.00',
       'CCAvenue ₹1,798.00', 'CCAvenue ₹1,299.00',
       'Offline Payment ₹2,299.00', 'CCAvenue ₹400.00',
       'CCAvenue ₹499.00', 'CCAvenue ₹140.00', 'CCAvenue ₹1,700.00',
       'CCAvenue ₹1,599.00', 'CCAvenue ₹6,999.00',
       'Offline Payment ₹1,099.00', 'Offline Payment ₹1,999.00',
       'Offline Payment ₹299.00', 'Offline Payment ₹549.00',
       'Offline Payment ₹5,999.00',
       'Offline Payment ₹1,099.00;Offline Payment -₹1,099.00',
       'CCAvenue ₹1,099.00', 'Offline Payment ₹349.00',
       'Offline Payment ₹199.00', 'Offline Payment ₹400.00',
       'Offline Payment ₹1,199.00', 'Offline Payment ₹259.00',
       'Offline Payment ₹5,097.00', 'Offline Payment ₹230.00',
       'Offline Payment ₹4,369.05', 'Offline Payment ₹849.00',
       'Offline Payment ₹1,399.00;Offline Payment -₹1,399.00',
       'Offline Payment ₹699.00;Offline Payment -₹699.00',
       'CCAvenue ₹2,099.00', 'CCAvenue ₹1,596.00', 'CCAvenue ₹1,399.00',
       'Offline Payment ₹1,699.00', 'Offline Payment ₹800.00',
       'Offline Payment ₹1,399.00', 'CCAvenue ₹2,199.00',
       'Offline Payment ₹999.00', 'Offline Payment ₹499.00',
       'Offline Payment ₹1,499.00', 'Offline Payment ₹44,970.00',
       'Offline Payment ₹2,199.00',
       'CCAvenue ₹1,499.00;Offline Payment -₹1,499.00',
       'Offline Payment ₹200.00', 'Offline Payment ₹46,166.00',
       'Offline Payment ₹43,168.00', 'Offline Payment ₹2,099.00',
       'Offline Payment ₹449.00', 'Offline Payment ₹35,976.00',
       'Offline Payment ₹2,798.00', 'Offline Payment ₹37,972.00',
       'Offline Payment ₹5,196.00', 'Offline Payment ₹5,399.00',
       'Offline Payment ₹3,298.00', 'Offline Payment ₹399.00',
       'Offline Payment ₹17,578.00', 'Offline Payment ₹19,900.00',
       'Offline Payment ₹35,774.00', 'Offline Payment ₹599.00',
       'Offline Payment ₹369.00', 'Offline Payment ₹19,176.00',
       'Offline Payment ₹19,576.00', 'Offline Payment ₹9,950.00',
       'Offline Payment ₹13,990.00', 'Offline Payment ₹22,064.67',
       'Offline Payment ₹38,519.00', 'Offline Payment ₹10,198.00',
       'Offline Payment ₹22,980.00', 'Offline Payment ₹18,995.00',
       'Offline Payment ₹22,995.00', 'Offline Payment ₹340.00',
       'Offline Payment ₹899.00', 'Offline Payment ₹15,597.00',
       'Offline Payment ₹22,485.00', 'CCAvenue ₹20,238.75',
       'CCAvenue ₹299.00', 'CCAvenue ₹1,799.00',
       'Offline Payment ₹10,398.00', 'Offline Payment ₹269.00',
       'Offline Payment ₹1,095.00', 'Offline Payment ₹4,599.00',
       'CCAvenue ₹749.00', 'Offline Payment ₹10,500.00',
       'Offline Payment ₹3,399.00', 'Offline Payment ₹1,050.00',
       'Offline Payment ₹300.00', 'Offline Payment ₹249.00',
       'Offline Payment ₹522.50', 'Offline Payment ₹1,166.10',
       'Offline Payment ₹250.00', 'CCAvenue ₹100.00',
       'Offline Payment ₹12,500.00', 'Offline Payment ₹500.00',
       'CCAvenue ₹300.00', 'CCAvenue ₹800.00', 'Offline Payment ₹100.00',
       'Offline Payment ₹150.00', 'Offline Payment ₹2,000.00'],
      dtype=object)

In [12]:
data['Payment Method'].isna().sum()

2601

In [13]:
data['Payment Method'].fillna('No Payment Method Available')

0       No Payment Method Available
1       No Payment Method Available
2       No Payment Method Available
3       No Payment Method Available
4       No Payment Method Available
                   ...
3034    No Payment Method Available
3035    No Payment Method Available
3036    No Payment Method Available
3037    No Payment Method Available
3038      Offline Payment ₹2,000.00
Name: Payment Method, Length: 2857, dtype: object

In [14]:
split_column=data['Payment Method'].str.split(pat='₹', n=-1, expand=True)
split_column

                     0         1     2
0                  NaN       NaN   NaN
1                  NaN       NaN   NaN
2                  NaN       NaN   NaN
3                  NaN       NaN   NaN
4                  NaN       NaN   NaN
...                ...       ...   ...
3034               NaN       NaN   NaN
3035               NaN       NaN   NaN
3036               NaN       NaN   NaN
3037               NaN       NaN   NaN
3038  Offline Payment   2,000.00  None

[2857 rows x 3 columns]

In [15]:
data['Payment Methods'] = split_column[0]

In [16]:
data = data.drop(columns =['Payment Method'])

In [17]:
data['Payment Methods']=data['Payment Methods'].str.rstrip()

In [18]:
data['Payment Methods'] = data['Payment Methods'].fillna('No Payment Method Available')

In [19]:
data['Payment Methods'].unique()

array(['No Payment Method Available', 'CCAvenue', 'Offline Payment'],
      dtype=object)

In [20]:
data.columns

Index(['Order No.', 'DateTime Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Total', 'Customer Name',
       'Shipping Country', 'Street Address 1', 'Street Address 2',
       'Shipping City', 'Shipping State', 'Tracking No.',
       'Special Instructions', 'LineItem Name', 'LineItem SKU',
       'Payment Methods'],
      dtype='object')

In [21]:
data.drop(columns=['Tracking No.', 'Special Instructions'], inplace=True)

In [22]:
data.columns

Index(['Order No.', 'DateTime Stamp', 'Currency', 'Subtotal',
       'Shipping Method', 'Shipping Cost', 'Total', 'Customer Name',
       'Shipping Country', 'Street Address 1', 'Street Address 2',
       'Shipping City', 'Shipping State', 'LineItem Name', 'LineItem SKU',
       'Payment Methods'],
      dtype='object')

In [23]:
data = data.drop_duplicates(subset=['Customer Name', 'Street Address 1','LineItem SKU'])

In [24]:
India_Country = data[data['Shipping Country'] == 'IND']
India_Country.shape

(2759, 16)

In [25]:
Other_Countries = data[data['Shipping Country'] != 'IND']
Other_Countries.shape

(39, 16)

In [26]:
India_Country.to_csv('India_Country.csv')
Other_Countries.to_csv('Other_Countries.csv')

In [27]:
data.to_csv('order_dataset.csv')